PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/manajemen_stok_whfg?schema=public"
JWT_SECRET="mtm_warehouse_finished_goods_secret_key_2026_super_secure"
JWT_EXPIRES_IN="7d"
NODE_ENV="development"
